body{
    color: #3D4144;
    padding-top: 50px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
    padding-bottom: 50px;
}

#top{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}

#instructions{
    padding: 0 14px;
}

button{
    background-color: #3D4144;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
}

button:hover{
    background-color: #505456;
}
button:active{
    background-color: #636669;
}

button img{
    width: 60px;
    height: 60px;
}

#buttons{
    padding-top: 20px;
    text-align: left;
    position: relative;
    left: -2px;
}

.pin_button {
    width: 65px;
}

#reset{
    padding-top: 20px;
    text-align: center;
}

#reset_small{
    width: 65px;
    height: 69px;
    margin: 7px;
    padding: 3px 0 0 3px;
    float: right;
}

#reset_large{
    font-size: 25px;
    padding: 20px;
}

.pin_button {
    font-size: 25px;
    padding: 20px 0;
    margin: 7px;
}

table{
    margin: 50px auto;
    border: 3px solid #1BBEEC;
    border-collapse: collapse;
}

td{
    min-width: 25px;
    height: 35px;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #1BBEEC;
    color: #ffffff;
}

th,
.td_right {
    border: 3px solid #1BBEEC;
}

.cumulative_score td{
    border-left: 3px solid #1BBEEC;
    border-right: 3px solid #1BBEEC;
}

.hidden{
    display: none;
}